body {
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    vertical-align: middle;
}

h1, h2, button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    display: none;
    font-style: italic;
}

h3 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 8px 13px 6px;
    border:solid 4px rgba(109, 2, 142, 0.8);
    border-radius: 15px;
    font-size: 1.8rem;
    color: black;
    background-color:rgba(181, 0, 236, 0.8);
    box-shadow: black 4px 4px;
    transition: ease-in-out;
    transition: background-color 400ms;
}

button:hover {
    background-color:rgba(202, 76, 240, 0.8);
}

button:active {
    position: relative;
    top: 4px;
    left: 4px;
    box-shadow: 0px 0px;
}